* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(34, 33, 33);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(29, 236, 157);
}
nav {
    display: flex;
    height: 100%;
    align-items: center;

}
.titulo {
    color: rgb(29, 236, 157);
    text-align: center;
}
.img_carousel {
    width: 500px;
}
.carouselExampleIndicators {
    
}