* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 1%);
    font-family: Georgia, 'Times New Roman', Times, serif;
        
}
#body {
    color: rgb(207, 69, 177);
}
.titulo {
    text-align: center;
    color: rgb(22, 230, 133);
    
}
.Soporte1 {
    width:max-content;
    
   
}
.Soporte2 {
    float:left;
    width:max-content;
   
   
}
.Soporte3 {
    width:max-content;
    
    float: left;
} 
.Soporte4 {
    float:initial;
    width:max-content;
    align-items: center;
    
}

.card {
    width: 100%;
     
    color: rgb(22, 230, 133);
    
    
}
#foto {    
    width: 85%; 
    margin-top: 35px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: auto;    
    border-radius: 25px;
}
img {
    display: block;
    width: 100%; 
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;    
    border-radius: 25px;
}
.carousel {
    width: 100%;
    
    margin-bottom: 30px; 
    
}
.img_carousel {    
    margin: auto;
}
footer {
    color: blueviolet;
}