* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 1%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.Soporte {
    width: 100%;
    align-items: center;
    background-color: blueviolet;
}

.titulo {
    text-align: center;
    color: rgb(22, 230, 133);
    border-color: rgb(202, 82, 82);
}

.card {
    float:inline-end;
    width: 100%;
    height: auto;
    color: rgb(22, 230, 133);
    
}
img {
    width: 75%;
    height: auto;
    margin-top: 30%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 25px;
}
.carusel {
    width: 10%;
    float:right
}
.contenido {
    background-color: brown;
}
